body {
  margin: 0;
  min-height: 100vh;
  position: relative;
  background: #fff;
}

/* Chessboard background */
body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -2;

  background-image:
    linear-gradient(45deg, #e0e0e0 25%, transparent 25%),
    linear-gradient(-45deg, #e0e0e0 25%, transparent 25%),
    linear-gradient(45deg, transparent 75%, #e0e0e0 75%),
    linear-gradient(-45deg, transparent 75%, #e0e0e0 75%);
  background-size: 16px 16px;
  background-position: 0 0, 0 8px, 8px -8px, -8px 0px;
}

/* Dim overlay ONLY for background */
body::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;

  background: rgba(176, 176, 176, 0.55);
  pointer-events: none;
}


/* margin: 0;
    height: 100vh;
    background-color: #ffffff; 
    background-image: 
      linear-gradient(90deg, #cccccc 1px, transparent 1px),
      linear-gradient(#eee 1px, transparent 1px);
    background-size: 10px 10px; size of each tiny square */
